.App {
  text-align: center;
}
#sectionHeading {
  padding-bottom: 1%;
}

#mainHeader {
  height: 100% !important;
}
#projectItem {
  height: 90%;
}
#skillLogos {
  padding-bottom: 5%;
}
#mainSkills {
  padding-bottom: 3%;
}

.container-sm {
  padding-top: 3%;
}
.dropdown-divider {
  padding-top: 2%;
}

.homeItem {
  padding-bottom: 2%;
}
.badge {
  margin : 2px;
}